backgroundGradient(deg, color1, perc1, color2, perc2)
    background:-webkit-linear-gradient(deg, color1 perc1, color2 perc2); /* Chrome 10+, Saf5.1+ */
    background:-moz-linear-gradient(deg, color1 perc1, color2 perc2);   /* FF3.6+ */
    background:-ms-linear-gradient(deg, color1 perc1, color2 perc2);   /* IE10 */
    background:-o-linear-gradient(deg, color1 perc1, color2 perc2);    /* Opera 11.10+ */
    background:linear-gradient(deg, color1 perc1, color2 perc2);  /* W3C */

.background-gradient
    backgroundGradient(90deg, #EFEFBB, 10%, #D4D3DD, 90%)!important;
    background-color: inherit

.width100
    width 100%
.nopadding
    padding 0
