.cv-edit.not-selectable
    .sidebar
        .menu-icon.btn(ng-click="openMenu('structure')")
            .fa.fa-align-left.fa-4x(tooltip-placement="right", tooltip="cv structure")
        .menu-icon.btn(ng-click="openMenu('templates')")
            .fa.fa-file-text.fa-4x(tooltip-placement="right", tooltip="templates")
    .page
        cv-online(id="{{cvId}}")
            .menu-overlay(ng-show="sideMenu.show", ng-click="sideMenu.show=false",
            ng-animate="'ng'")
            .side-menu(ng-show="sideMenu.show", ng-animate="'ng'")
                .structure(ng-show="sideMenu.menu=='structure'")
                    cv-element(element="element", init="true")
                .templates(ng-show="sideMenu.menu=='templates'")
                    .well.text-center
                        h1 Select cv template
                    .col-sm-6(ng-repeat="template in templates")
                        .thumbnail.btn: a(href="templates/settemplate/{{template.id}}")
                            .col-xs-12.text-center: h3 {{template.name}}
                            .col-xs-12: img(ng-src="{{template.thumbnail}}", width="100%")
            .cv.box
                div(ng-include="'template.html'")
