@media only screen and (min-width : 100px) and (max-width : 768px)
    .template
        .color1 
            color white
        .color2 
            color white
        .push-xs
            margin-left calc(100%/12)
        .black-line
            border 1px solid white
            width 100%
            margin-bottom 20px
        .black-line-box
            border 1px solid white
            padding 10px 30px 10px 30px
            margin 10px
            display inline-block
            text-transform uppercase
@media only screen and (min-width : 768px)
    .template
        .push-xs
            margin-left initial
        .color1
            color white
        .color2 
            color black
        .black-line
            border 1px solid black
            width 100%
            margin-bottom 20px
        .black-line-box
            border 1px solid black
            padding 10px 30px 10px 30px
            margin 10px
            display inline-block
            text-transform uppercase

.template
    padding 50px 0px 50px 0px
    min-height 600px
    position relative
    background-color rgb(255,255,255)
    .background1
        background-color #ccc
    .background2
        background-color #444
    .row
        margin 0
    .horizontal-strip
        min-height 150px
        padding 30px 0px 30px 0px
        z-index 1
        box-shadow 1px 1px 3px #444
    .side-strip-wrap
        z-index 0
        top 0px
        bottom 0px
        width 100%
        height 100%
        position absolute
        .side-strip
            box-shadow 5px 1px 5px #000
    .side-text
        z-index 100
    .white-line-box
        border 1px solid white
        padding 10px 30px 10px 30px
        margin 10px
        display inline-block
        text-transform uppercase
    cv-section
        margin-top 50px
        display block
    cv-header
        display block
    cv-items
        display block
    cv-item-name
        display block
        margin-bottom 15px
    cv-item-header
        display inline-block
    cv-entry-photos
        display block
        margin 15px
        .carousel
            width 100%
            max-height 300px
            overflow hidden
            box-shadow 2px 2px 5px #444

.frame
    margin -30px auto -0px auto
    max-width 200px
    max-heigh 200px
    display block
    img
        border-radius 100px
cv-picture 
    width 100px
    z-index 20


//////////////////////////////////////////////////////////
// ANIMATIONS ////////////////////////////////////////////
//////////////////////////////////////////////////////////
.animate-in
    -webkit-animation: lightSpeedIn .7s;
    animation: lightSpeedIn .7s;
.animate-rubberband:hover
cv-section-name:hover
    -webkit-animation: rubberBand 1.1s;
    animation: rubberBand 1.1s;

.show-on-hover:hover
    .animate-in-hover
        max-height 400px
        -webkit-animation: lightSpeedIn .7s;
        animation: lightSpeedIn .7s;
        display block!important
.animate-in-hover
    max-height 0
    display block
    overflow hidden
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;

.animate-in.out
    -webkit-animation: lightSpeedOut 1.7s;
    animation: lightSpeedOut 1.7s;
.animate-show-hide.ng-show
    -webkit-animation: lightSpeedIn 1.7s;
    animation: lightSpeedIn 1.7s;
.animate-show-hide.ng-hide
    -webkit-animation: lightSpeedIn 1.7s;
    animation: lightSpeedIn 1.7s;


//////////////////////////////////////////////////////////
// ASSORTED //////////////////////////////////////////////
//////////////////////////////////////////////////////////

.zidx1
    z-index 1
.zidx10
    z-index 10
.zidx20
    z-index 20
.margin-auto
    margin auto
.uppercase
    text-transform uppercase
